@{
    ViewData["Title"] = "WebChat";
}
<h2>@ViewData["Author"].</h2>


<link href="https://unpkg.com/botframework-webchat/botchat.css" rel="stylesheet" />

<div id="bot" />
<script src="https://unpkg.com/botframework-webchat/botchat.js"></script>
<!--<script src="http://localhost:8041/TestBot.js"></script>-->
<script>
      BotChat.App({
          directLine: {
              //secret: 'ZeTrWOeuUIE.cwA.Ilw.kcLHOauyIPEpV4ktRnbI47qx_J9ZneHhdg21MEyNTR4',              
              //token:'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IjlGWERwYmZNRlQyU3ZRdVhoODQ2WVR3RUlCdyIsImtpZCI6IjlGWERwYmZNRlQyU3ZRdVhoODQ2WVR3RUlCdyJ9.eyJhdWQiOiJodHRwczovL2dyYXBoLm1pY3Jvc29mdC5jb20iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwiaWF0IjoxNDk5NzkxMjc0LCJuYmYiOjE0OTk3OTEyNzQsImV4cCI6MTQ5OTc5NTE3NCwiYWlvIjoiWTJaZ1lManV2ejZvTGNwYmZITlhmNGRIeU9HN0FBPT0iLCJhcHBfZGlzcGxheW5hbWUiOiJFdkV0dWRlQm90IiwiYXBwaWQiOiIyODE0MWViNS00ODI4LTRlZmYtODIxMC1mNThjNTNhOGRmZTQiLCJhcHBpZGFjciI6IjEiLCJpZHAiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwidGlkIjoiNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3IiwidXRpIjoiX091UmlrekVrMGFKR3BVbkZGd3FBQSIsInZlciI6IjEuMCJ9.Vsoi7j0MgQXAgjV4IF9_DfmBcr_QDy4fGXg7w0xRRES73RTvxh4ItIDKy3PtA7jb7rdg-RwgmIKgSHuje3le9Scz9GgFghPJoT7yQh94zc1VOL1xt7aXQn485IecJTo1dsVTp-xobN1WjWU1cWqZ7nKpeG2rSQrxP0LaY-fO_L4a-d8yzkCQ5JWqLC4QxG1rza4BCMF79coU0XqLZVVp7oHQOtsaSQUfHZftmkRaCDizdOREKtvFHfRTG7oBgZHisE06AhLpB8Fs73Hj7Ba1y6zChVgXMH0SJa6wTkblTs4Cf_Ue51uVhlDK-R0bpph7MC1G38IXFyP1lFIq826hqg.eyJhdWQiOiJodHRwczovL2dyYXBoLm1pY3Jvc29mdC5jb20iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwiaWF0IjoxNDk5NzAyOTkxLCJuYmYiOjE0OTk3MDI5OTEsImV4cCI6MTQ5OTcwNjg5MSwiYWlvIjoiWTJaZ1lHaFNyY3lMdnNmTnFsRCtvdi9wdDNQVkFBPT0iLCJhcHBfZGlzcGxheW5hbWUiOiJFdkV0dWRlQm90IiwiYXBwaWQiOiIyODE0MWViNS00ODI4LTRlZmYtODIxMC1mNThjNTNhOGRmZTQiLCJhcHBpZGFjciI6IjEiLCJpZHAiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwidGlkIjoiNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3IiwidXRpIjoiR0cwYzlaXzJhRXllTHlsQ04wa0ZBQSIsInZlciI6IjEuMCJ9.TqDA6jWJU4lGGOro3Aom1Q_vpbtKezszXGb0nf4joFe_zZUmwuTLpSMVI5uec1cJ9XRv0FiGHTQqJziKs8ACFk9QdS-5YwhzN80YNn7Bpy1MBoBURZdR_ZU9ZD7BDUAryHM1CA3kDRBu6MbE9yteaH4Q_LkhwWZATGE-eZML0c7YldKTHxaUm_6wzEalyycy0ZeGsHj7QGanOVjoyoal9eQZ98qUizu7dzJLHS8PAFJf3PA6Tl2mXN0KFhN5lMGxGJ7a16qc4EgNtVjDEHKyrihscf-4IA8-oF3qI4iU92hVHQgAoSn9CCl0t8ScDGfYnE9MJ_LcaE_rGKcxl3N3gg',
             // domain: 'https://evcustomconnector123456.azurewebsites.net/v3/directline',
              domain: 'http://localhost:28321/v3/directline',
              //domain: 'http://localhost:8041/v3/directline',
              webSocket: false},
          user: { id: 'default-user', name:'User'},

        bot: { id: 'EVETUDEBOT' },
        resize: 'detect',

      }, document.getElementById("bot"));
</script>